# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib
numpy
opencv-python
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
huggingface_hub

# Logging -------------------------------------
tensorboard
clearml
comet

# Plotting ------------------------------------
pandas
seaborn

# Export --------------------------------------
onnxruntime
coremltools  # CoreML export
onnx  # ONNX export
onnx-simplifier  # ONNX simplifier
scikit-learn  # CoreML quantization
tensorflow  # TF exports (-cpu, -aarch64, -macos)
tensorflowjs  # TF.js export

# Extras --------------------------------------
ipython  # interactive notebook
ipykernel #python kernel for notebook
psutil  # system utilization
thop  # FLOPs computation
albumentations
pycocotools  # COCO mAP
roboflow
